### Review metrics from CSV loggers

In [3]:
import os.path as osp
import os
import pandas as pd


os.chdir('/Users/limingzhou/zhoul/work/energy/pytools')

from pytools.config import Config

/Users/limingzhou/miniforge3/envs/energy/lib/python3.9/site-packages/pydantic/_internal/_fields.py:151: UserWarning: Field "model_settings" has conflict with protected namespace "model_".

You may be able to resolve this warning by setting `model_config['protected_namespaces'] = ()`.
  warnings.warn(

Tensorboard review
tensorboard --logdir /Users/limingzhou/zhoul/work/energy/sites/albany-prod/model/tensorboard_logger

In [6]:
# load all file names in the log folder. find the latest version.
#!ls ../pytools/pytools
config = Config('../pytools/pytools/config/albany_prod.toml')
log_folder = osp.join(config.site_parent_folder, 'model','csv_logger')

sub_dir = [x[0] for x in os.walk(log_folder)]

vers = [(f, int(f.split('/')[-1].split('_')[-1])) for f in sub_dir if f.split('/')[-1].startswith('version')]

fn, ver = zip(*vers)
max_ver = max(ver)
ind = ver.index(max_ver)
print(f'the latest version is {max_ver}')
fn_last = fn[ind]
table = pd.read_csv(osp.join(fn_last,'metrics.csv'))

the latest version is 11

In [7]:
table

,abs_loss(MAE),epoch,relative_loss(RMAE),step,test RSME loss,training RMSE loss_epoch,training RMSE loss_step,val RSME loss,y_mean
0,NaN,0,NaN,49,NaN,NaN,0.379889,NaN,NaN
1,NaN,0,NaN,91,NaN,NaN,NaN,0.496127,NaN
2,NaN,0,NaN,91,NaN,0.578155,NaN,NaN,NaN
3,NaN,1,NaN,99,NaN,NaN,0.481856,NaN,NaN
4,NaN,1,NaN,149,NaN,NaN,0.674090,NaN,NaN
...,...,...,...,...,...,...,...,...,...
57,NaN,15,NaN,1399,NaN,NaN,0.416750,NaN,NaN
58,NaN,15,NaN,1449,NaN,NaN,0.607516,NaN,NaN
59,NaN,15,NaN,1471,NaN,NaN,NaN,0.390900,NaN
60,NaN,15,NaN,1471,NaN,0.392880,NaN,NaN,NaN
61,1396.914062,16,1.045424,1472,0.259565,NaN,NaN,NaN,1336.216431

### Review NYISO metrics