### Review metrics from CSV loggers

In [1]:
import os.path as osp
import os
import pandas as pd


os.chdir('/Users/limingzhou/zhoul/work/energy/pytools')

from pytools.config import Config

Tensorboard review
tensorboard --logdir /Users/limingzhou/zhoul/work/energy/sites/albany-prod/model/tensorboard_logger

In [77]:
# load all file names in the log folder. find the latest version.
#!ls ../pytools/pytools
config = Config('../pytools/pytools/config/albany_prod.toml')
log_folder = osp.join(config.site_parent_folder, 'model','csv_logger')

sub_dir = [x[0] for x in os.walk(log_folder)]

vers = [(f, int(f.split('/')[-1].split('_')[-1])) for f in sub_dir if f.split('/')[-1].startswith('version')]

fn, ver = zip(*vers)
max_ver = max(ver)
ind = ver.index(max_ver)
print(f'the latest version is {max_ver}')
fn_last = fn[ind]
table = pd.read_csv(osp.join(fn_last,'metrics.csv'))

the latest version is 24

In [78]:
table.tail(20)

,epoch,step,training RMSE loss_epoch,training RMSE loss_step,val RMSE loss
46,14,1299,NaN,0.136823,NaN
47,14,1349,NaN,0.125541,NaN
48,14,1379,0.133012,NaN,NaN
49,15,1399,NaN,0.147662,NaN
50,15,1449,NaN,0.138851,NaN
51,15,1471,NaN,NaN,0.346599
52,15,1471,0.137736,NaN,NaN
53,16,1499,NaN,0.126431,NaN
54,16,1549,NaN,0.127301,NaN
55,16,1563,0.131608,NaN,NaN
56,17,1599,NaN,0.119782,NaN
57,17,1649,NaN,0.125690,NaN
58,17,1655,NaN,NaN,0.338230
59,17,1655,0.123130,NaN,NaN
60,18,1699,NaN,0.125896,NaN
61,18,1747,0.125611,NaN,NaN
62,19,1749,NaN,0.111244,NaN
63,19,1799,NaN,0.114430,NaN
64,19,1839,NaN,NaN,0.338351
65,19,1839,0.118024,NaN,NaN

### Review NYISO metrics