### Review metrics from CSV loggers

In [1]:
import os.path as osp
import os
import pandas as pd


os.chdir('/Users/limingzhou/zhoul/work/energy/pytools')

from pytools.config import Config

Tensorboard review
tensorboard --logdir /Users/limingzhou/zhoul/work/energy/sites/albany-prod/model/tensorboard_logger

In [73]:
# load all file names in the log folder. find the latest version.
#!ls ../pytools/pytools
config = Config('../pytools/pytools/config/albany_prod.toml')
log_folder = osp.join(config.site_parent_folder, 'model','csv_logger')

sub_dir = [x[0] for x in os.walk(log_folder)]

vers = [(f, int(f.split('/')[-1].split('_')[-1])) for f in sub_dir if f.split('/')[-1].startswith('version')]

fn, ver = zip(*vers)
max_ver = max(ver)
ind = ver.index(max_ver)
print(f'the latest version is {max_ver}')
fn_last = fn[ind]
table = pd.read_csv(osp.join(fn_last,'metrics.csv'))
11

the latest version is 61

11

In [74]:
table.tail(20)

,abs_bias,abs_bias_perc,abs_loss(MAE),epoch,relative_loss(RMAE),step,test RMSE loss,training RMSE loss_epoch,training RMSE loss_step,val RMSE loss,y_mean,y_std
171,NaN,NaN,NaN,39,NaN,5639,NaN,0.137822,NaN,NaN,NaN,NaN
172,NaN,NaN,NaN,40,NaN,5649,NaN,NaN,0.152350,NaN,NaN,NaN
173,NaN,NaN,NaN,40,NaN,5699,NaN,NaN,0.179254,NaN,NaN,NaN
174,NaN,NaN,NaN,40,NaN,5749,NaN,NaN,0.124315,NaN,NaN,NaN
175,NaN,NaN,NaN,40,NaN,5780,NaN,0.141842,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,41,NaN,5799,NaN,NaN,0.154865,NaN,NaN,NaN
177,NaN,NaN,NaN,41,NaN,5849,NaN,NaN,0.142335,NaN,NaN,NaN
178,NaN,NaN,NaN,41,NaN,5899,NaN,NaN,0.122340,NaN,NaN,NaN
179,NaN,NaN,NaN,41,NaN,5921,NaN,NaN,NaN,0.164717,NaN,NaN
180,NaN,NaN,NaN,41,NaN,5921,NaN,0.134225,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,42,NaN,5949,NaN,NaN,0.134779,NaN,NaN,NaN
182,NaN,NaN,NaN,42,NaN,5999,NaN,NaN,0.128940,NaN,NaN,NaN
183,NaN,NaN,NaN,42,NaN,6049,NaN,NaN,0.141697,NaN,NaN,NaN
184,NaN,NaN,NaN,42,NaN,6062,NaN,0.136253,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,43,NaN,6099,NaN,NaN,0.133793,NaN,NaN,NaN
186,NaN,NaN,NaN,43,NaN,6149,NaN,NaN,0.144954,NaN,NaN,NaN
187,NaN,NaN,NaN,43,NaN,6199,NaN,NaN,0.153446,NaN,NaN,NaN
188,NaN,NaN,NaN,43,NaN,6203,NaN,NaN,NaN,0.164358,NaN,NaN
189,NaN,NaN,NaN,43,NaN,6203,NaN,0.144843,NaN,NaN,NaN,NaN
190,-0.072411,-0.000054,44.680843,44,0.033581,6204,0.234855,NaN,NaN,NaN,1330.544067,237.093002

### Review NYISO metrics

In [52]:
import pandas as pd
import numpy as np
t0=pd.Timestamp('2020-1-3 13:00')
t1 = pd.Timestamp('2020-1-5 13:00')
dt = t1-t0
dt/np.timedelta64(1,'h')

48.0