### Review metrics from CSV loggers

In [3]:
import os.path as osp
import os
import pandas as pd


os.chdir('/Users/limingzhou/zhoul/work/energy/pytools')

from pytools.config import Config

Tensorboard review
tensorboard --logdir /Users/limingzhou/zhoul/work/energy/sites/albany-prod/model/tensorboard_logger

In [18]:
# load all file names in the log folder. find the latest version.
#!ls ../pytools/pytools
config = Config('../pytools/pytools/config/albany_prod.toml')
log_folder = osp.join(config.site_parent_folder, 'model','csv_logger')

sub_dir = [x[0] for x in os.walk(log_folder)]

vers = [(f, int(f.split('/')[-1].split('_')[-1])) for f in sub_dir if f.split('/')[-1].startswith('version')]

fn, ver = zip(*vers)
max_ver = max(ver)
ind = ver.index(max_ver)
print(f'the latest version is {max_ver}')
fn_last = fn[ind]
table = pd.read_csv(osp.join(fn_last,'metrics.csv'))
11

the latest version is 42

11

In [19]:
table.tail(20)

,epoch,step,training RMSE loss_epoch,training RMSE loss_step,val RMSE loss
85,22,2621,0.148789,NaN,NaN
86,23,2649,NaN,0.148928,NaN
87,23,2699,NaN,0.142936,NaN
88,23,2735,NaN,NaN,0.265636
89,23,2735,0.149032,NaN,NaN
90,24,2749,NaN,0.136001,NaN
91,24,2799,NaN,0.140709,NaN
92,24,2849,NaN,0.146427,NaN
93,24,2849,0.145910,NaN,NaN
94,25,2899,NaN,0.145293,NaN
95,25,2949,NaN,0.146057,NaN
96,25,2963,NaN,NaN,0.250012
97,25,2963,0.147600,NaN,NaN
98,26,2999,NaN,0.133764,NaN
99,26,3049,NaN,0.152867,NaN
100,26,3077,0.140247,NaN,NaN
101,27,3099,NaN,0.147846,NaN
102,27,3149,NaN,0.146385,NaN
103,27,3191,NaN,NaN,0.252109
104,27,3191,0.147698,NaN,NaN

### Review NYISO metrics