### Review metrics from CSV loggers

In [89]:
import os.path as osp
import os
import pandas as pd


os.chdir('/Users/limingzhou/zhoul/work/energy/pytools')

from pytools.config import Config

Tensorboard review
tensorboard --logdir /Users/limingzhou/zhoul/work/energy/sites/albany-prod/model/tensorboard_logger

In [291]:
# load all file names in the log folder. find the latest version.
#!ls ../pytools/pytools
config = Config('../pytools/pytools/config/albany_prod.toml')
log_folder = osp.join(config.site_parent_folder, 'model','csv_logger')

sub_dir = [x[0] for x in os.walk(log_folder)]

vers = [(f, int(f.split('/')[-1].split('_')[-1])) for f in sub_dir if f.split('/')[-1].startswith('version')]

fn, ver = zip(*vers)
max_ver = max(ver)
ind = ver.index(max_ver)
print(f'the latest version is {max_ver}')
fn_last = fn[ind]
table = pd.read_csv(osp.join(fn_last,'metrics.csv'))

the latest version is 69

In [292]:
table.tail(20)

,epoch,step,training RMSE loss_epoch,training RMSE loss_step,val RMSE loss
0,0,49,NaN,0.697259,NaN
1,0,99,NaN,0.558123,NaN
2,0,140,NaN,NaN,0.533215
3,0,140,0.958661,NaN,NaN
4,1,149,NaN,0.547867,NaN
5,1,199,NaN,0.411182,NaN
6,1,249,NaN,0.502928,NaN
7,1,281,NaN,NaN,0.536890
8,1,281,0.510369,NaN,NaN
9,2,299,NaN,0.563404,NaN
10,2,349,NaN,0.577211,NaN
11,2,399,NaN,0.508373,NaN
12,2,422,NaN,NaN,0.482858
13,2,422,0.485839,NaN,NaN
14,3,449,NaN,0.541978,NaN
15,3,499,NaN,0.525945,NaN
16,3,549,NaN,0.426982,NaN

### Review NYISO metrics

In [52]:
import pandas as pd
import numpy as np
t0=pd.Timestamp('2020-1-3 13:00')
t1 = pd.Timestamp('2020-1-5 13:00')
dt = t1-t0
dt/np.timedelta64(1,'h')

48.0